@media screen and (-webkit-min-device-pixel-ratio: 0) {
}

.snowcontainer {
  position: relative;
  width: 100%;
  overflow: visible;
}
.snow {
  height: 18px;
  border-radius: 9px;
  width: 18px;
  position: absolute;
  top: -20px;
  background-color: #ffffff;
}
body {
  background-color: #000000;
}
