@media screen and (-webkit-min-device-pixel-ratio: 0) {
}

.snowcontainer {
  position: relative;
  width: 100%;
  overflow: visible;
}
.snow {
  height: 18px;
  border-radius: 9px;
  width: 18px;
  position: absolute;
  top: -20px;
  background-color: #ffffff;
}
.snow1 {
  animation: snow1 5s linear 0s infinite;
}
.snow2 {
  animation: snow2 6s linear 1s infinite;
}
.snow3 {
  animation: snow3 7s linear 2s infinite;
}
body {
  background-color: #000000;
}
